<!DOCTYPE html>
<html>
<head>
    <title>FMCG Product Recommendation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>FMCG Product Recommendation System</h1>
    <div>
        <label for="productInput">Search for a product:</label>
        <input type="text" id="productInput" list="productSuggestions" placeholder="Enter product name">
        <datalist id="productSuggestions"></datalist>
        <button id="recommendBtn">Get Recommendations</button>
    </div>
    <div id="recommendationsContainer">
        
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
